
<br/><br/><br/><br/><br/>

<div class="row">
 <div class="col-md-4"></div>
  <div class="col-md-4">
  			
  			<div class="panel panel-default">
				  <div class="panel-body">

				    	<center>	
				  		<img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" style="height:95px;" />
				  		</center><br/><br/>

							<form>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Email address</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
							  </div>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Password</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							  </div>
							 
							  <div class="checkbox">
							    <label>
							      <input type="checkbox"> remember me
							    </label>
							  </div>
							   <%= link_to "submit", admin_manage_shop_path, :class=>"btn btn-default" %>
							</form>


				  </div>
			</div>

  </div>
  <div class="col-md-4"></div>
</div>

<br/><br/>


<style type="text/css">
	
#footer-area{
	display: none;
}

</style>
