


<%= render 'layouts/defaultnav' %>

 
<div class="rows" style="padding:10px;">


<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/admin_manage_shop">Manage Shop</a></li>
  <li role="presentation"><a href="/admin_manage_product">View Products</a></li>
  <li role="presentation"><a href="/admin_manage_seller">Manage Seller</a></li>
  <li role="presentation"><a href="/admin_manage_buyer">Manage Buyer</a></li>
  <li role="presentation"><a href="/set_today_deal">Set today deal</a></li>

  <li role="presentation"><a href="/admin_view_order_report">Order Report</a></li>
  <li role="presentation"><a href="/admin_view_product_report ">Product Report</a></li>
  <li role="presentation"><a href="/admin_view_user_report ">User Report</a></li>
   <li role="presentation"  class="active"><a href="/hot_items ">Hot Items</a></li>

</ul>
  <br/>
   
    <div class="well well-sm"> <h4>Hot Items Images</h4></div>

   		
<h1>Editing Hot Item</h1>

<%= render 'form' %>

    

    <br>

</div>






