	<%= render 'layouts/defaultnav' %>	

	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Training and Schools</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @training_and_schools.each do |training_and_school| %>
								<div class="col-md-2 col-sm-6">
									<div class="product-col">
										<div class="image">
											
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								          
										</div>
										<div class="caption">
											<h6>
												
												<%= link_to training_and_school.title %>
											</h6>
											
											<div class="price">
												<span class="price-new"><%= training_and_school.fees.to_i %> <%=t :MMK %></span> 
											</div>
										
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
