


<div class="panel panel-default">
<div class="panel-heading">
        <h3 class="panel-title">New <u>Store</u></h3>
</div>
  <div class="panel-body">
    
		<%= render 'form' %><br/>

  </div>
</div>


