<%= render 'layouts/defaultnav' %>	


<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About Payment</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Payment info
		</h2>

		<div class="col-sm-12"><br/><br/>
			Myanmar dealer.com has MPU for online payment
			and can use cash on delivery service for offline payment.
				<br/><br/>

		</div>


		<div class="col-sm-6">
			<div class="well well-lg">
				<h4>MYANMAR PAYMENT UNION</h4>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="well well-lg">
				<h4>CASH ON DELIVERY</h4>				

			</div>
		</div>





</div>