	<%= render 'layouts/defaultnav' %>	

  <div class="rows" >
		<div style="padding:10px;">
		    

		      <div class="panel panel-default">
				  <div class="panel-body">
				    <h4> About add to favourite Feature </h4>
				   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus
				  </div>
				</div>


		</div>


  </div>