<%= render 'layouts/defaultnav' %>	


<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About delivery</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Delivery Charges
		</h2>

		<div class="col-sm-12"><br/><br/>
			Below delivery charges are offered by
			Transporter logistics delivery agencies.
				<br/><br/>

		</div>


		
		
                   <table class="table table-bordered" style="color:black;">

                        <thead>
                           <tr>
				            <td colspan="5" style="text-align:center;">Delivery Charges</td>
				          </tr>
				        </thead>

				        <thead>
				         
				          <tr>
				            <th rowspan="2" style="text-align:center;">Destination</th>
				            <th colspan="4" style="text-align:center;">Prices</th>
				          </tr>

				          <tr>
				            <th style="text-align:center;">Economy Delivery</th>
				            <th style="text-align:center;">Nextday Delivery</th>
				            <th style="text-align:center;">Sameday Delivery</th>
				            <th style="text-align:center;">Additonal Delivery</th>
				          </tr>

				        </thead>
				        <tbody>

				        <tr>
				            <td>Ahlone</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>





				        <tr>
				            <td>Kyimyindaing</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        <tr>
				            <td>Sanchaung</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Latha</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>



				        <tr>
				            <td>Lanmadaw</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>




				        <tr>
				            <td>Pabedan</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        <tr>
				            <td>Kyauktada</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        <tr>
				            <td>Botahtaung</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Pazundaung</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>



				        <tr>
				            <td>Tamwe</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>



				        <tr>
				            <td>Mingalar taung nyunt</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>



				        <tr>
				            <td>Thingangyun</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Thuwunna</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Bahan</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Hlaing</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        <tr>
				            <td>Mayangon</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>


				        <tr>
				            <td>Yankin</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        <tr>
				            <td>Tharkayta</td>
				            <td>2000</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>500</td>
				        </tr>

				        	                    <tr>
				        	<td>Dagon myothit(south)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>

				        <tr>
				        	<td>Dagon myothit(south)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Dagon myothit(south)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Dagon myothit(north)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Dagon myothit(east)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>

				       	<tr>
				        	<td>Okkalapa(south)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Okkalapa(north)</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Bayintnaung</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>

				        <tr>
				        	<td>Insein</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				      	<tr>
				        	<td>Sawbuagyigong</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>


				        <tr>
				        	<td>Mingalardon</td>
				            <td>2500</td>
				            <td>3000</td>
				            <td>3500</td>
				            <td>500</td>
				        </tr>

				        <tr>
				        	<td>Tanyin</td>
				            <td>3500</td>
				            <td>4000</td>
				            <td>4500</td>
				            <td>500</td>
				        </tr>

				        <tr>
				        	<td>Shwe pyi thar</td>
				            <td>3500</td>
				            <td>4000</td>
				            <td>4500</td>
				            <td>500</td>
				        </tr>

				        <tr>
				        	<td>Hlaing thar yar</td>
				       		<td>3500</td>
				            <td>4000</td>
				            <td>4500</td>
				            <td>500</td>
				        </tr>

				         
				        </tbody>
				    </table>


 					<p>The above quotation are just for the parcel within
				    5 KGs in weight. Additional fee 500 kyats/per KGs will be
				    added for extra 5KGs in weight.</p>
				    
				    <p>Because some items are bulky therefore actual weight or 
				    calculated as following: 
				    weight = (Lenght X width X height)cm / 6 Kg = KG
				    </p>
				    <p>Cargo weight will take the largest value of formula solution
				    result or the actual weight</p>





</div>