
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
			<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">Digital Cameras</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
								Sound Devices
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="#">Music System</a></li>
								<li><a tabindex="-1" href="#">DTS</a></li>
								<li><a tabindex="-1" href="#">Home Theater</a></li> 
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Televisions </a>
							<div class="dropdown-menu">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>										
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="#">Computers </a></li>
						<li><a href="#">Washing Machines</a></li>
						<li><a href="#">Accessories </a></li>
                        <li><a href="#">Mobile Phones  </a></li>
						<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
						Pages
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a tabindex="-1" href="#">Home</a></li>
						<li><a tabindex="-1" href="#">About</a></li>
						<li><a tabindex="-1" href="#">Category List</a></li>
						<li><a tabindex="-1" href="#">Category Grid</a></li>
						<li><a tabindex="-1" href="#">Product</a></li>
						<li><a tabindex="-1" href="#">Product Full Width</a></li>
						<li><a tabindex="-1" href="#">Cart</a></li>
						<li><a tabindex="-1" href="#">Login</a></li>
						<li><a tabindex="-1" href="#">Compare Products</a></li>
						<li><a tabindex="-1" href="#">Typography</a></li>
						<li><a tabindex="-1" href="#">Register</a></li>
						<li><a tabindex="-1" href="#">Contact</a></li>
						<li><a tabindex="-1" href="#">404</a></li>
					</ul>
				</li>
					</ul>
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
	<!-- Main Menu Ends -->
	</header>
<h1>Editing Front</h1>

<%= render 'form' %>

<%= link_to 'Show', @front %> |
<%= link_to 'Back', fronts_path %>
