
    
    <br/><br/><br/><br/><br/>
    <%= @my_ip %>

<div id="qrcode" style="position:relative;left:300px;"></div>

<br/><br/>

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "<%= @my_ip %>",
    width: 128,
    height: 128,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>



