	<%= render 'layouts/defaultnav' %>	

  <div class="rows" >
		<div style="padding:10px;">
		    

		      <div class="panel panel-default">
				  <div class="panel-body">
				    <h4> SORRY, Your account is still not approved by MyanmarDealer Admin team.</h4>

				  </div>
				</div>


		</div>


  </div>