<%= render 'layouts/defaultnav' %>	


<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Service Charges</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Service Charges<br/><br/>
		</h2>

		<div class="col-sm-4">

				<div class="panel panel-default">
				  <div class="panel-body">
				    Personal user
				    PRICE:
				  </div>
				</div>


		</div>


		<div class="col-sm-4">

				<div class="panel panel-default">
				  <div class="panel-body">
				    Retail user
				       PRICE:
				  </div>
				</div>


		</div>



<div class="col-sm-4">

				<div class="panel panel-default">
				  <div class="panel-body">
				    Company
				       PRICE:
				  </div>
				</div>


		</div>








</div>