  <%= render 'layouts/defaultnav' %>  

<div class="container">

<div class="panel panel-default">
  <div class="panel-body">
  <center>
      <h1> Thanks You.</h1>
      <p> We will contact to confirm your order very soon.</p>
      <p> Thanks you again for shopping at MyanmarDealer.</p>
      <br/>
      <br/>
      <br/>
      <code>Myanmar Dealer Team</code>
  </center>
  </div>
</div>

</div>