


<div class="panel panel-default">
<div class="panel-heading">
        <h3 class="panel-title">Edit <u>Fashion info</u></h3>
</div>
  <div class="panel-body">
    
		<%= render 'form' %><br/>
		<%= link_to '< Back', fashions_path, :class =>"btn btn-default" %>

  </div>
</div>



